[submodule "TitanEngine/vendor/spdlog"]
	path = TitanEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "TitanEngine/vendor/GLFW"]
	path = TitanEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "TitanEngine/vendor/imgui"]
	path = TitanEngine/vendor/imgui
	url = https://github.com/TerraCraftere3/vanadium-imgui/
	branch = Vanadium
[submodule "TitanEngine/vendor/glm"]
	path = TitanEngine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
