[submodule "TitanEngine/vendor/spdlog"]
	path = TitanEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "TitanEngine/vendor/GLFWT"]
	path = TitanEngine/vendor/GLFWT
	url = https://github.com/TheCherno/glfw
[submodule "TitanEngine/vendor/GLFW"]
	path = TitanEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "TitanEngine/vendor/imgui"]
	path = TitanEngine/vendor/imgui
	url = https://github.com/TerraCraftere3/vanadium-imgui/
