# Binaries
**bin**
!vendor/bin/premake/
**bin-int**
**/Profile/*.json

# Visual Studio files and folder
.vs/
**.vcxproj.filters
.TitanEngine/vendor/**.*vcxproj*

# Dev and Todo Files
dev-*.*
todo-*.*

.gitmodules